@font-face{
	
	src: url(DotGothic16/DotGothic16-Regular.ttf);	
	font-family: DotGothic16;			
	
}

@font-face{
	
	src: url(Fuggles/Fuggles-Regular.ttf);	
	font-family: Fuggles;			
	
}

@font-face{
	
	src: url(Rye/Rye-Regular.ttf);	
	font-family: Rye;			
	
}

@font-face{
	
	src: url(ShadowsIntoLight/ShadowsIntoLight-Regular.ttf);	
	font-family: ShadowsIntoLight;			
	
}

@font-face{
	
	src: url(SpecialElite/SpecialElite-Regular.ttf);	
	font-family: SpecialElite;			
	
}